body{
    font-family:Arial, sans-serif;
    margin:0;
    background:#f4f4f4;
}

header{
    background:#333;
    color:white;
    padding:20px;
}

nav a{
    color:white;
    margin-right:20px;
    text-decoration:none;
}

.container{
    width:80%;
    margin:auto;
    padding:30px;
    background:white;
    min-height:500px;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}